<h1>Task一覧</h1>

<ul>
  <% @tasks.each do |task| %>
    <li><%= link_to task.id, task %> : <%= task.content %>&gt; <%= task.status %></li>
  <% end %>
</ul>
<p>※内容は10文字以内、空白はなしで入力しましょう</p>
<%= link_to '新規Taskの投稿', new_task_path %>